<!DOCTYPE html>
<html lang="en"
      xml:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
  <meta charset="UTF-8" >
  <title >Appointment</title>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
          integrity="sha384- KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
          integrity="sha384- ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
          crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
          integrity="sha384- JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
          crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.css" crossorigin="anonymous">


  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
          integrity="sha384- JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
          crossorigin="anonymous"></script>


  <!--  <link th:rel="stylesheet" th:href="@{assets/bootstrap-datepicker/css/bootstrap-datepicker.css}"/>-->
  <!--  <link th:rel="stylesheet" th:href="@{assets/bootstrap-datepicker/css/bootstrap-datepicker.standalone.css}"/>-->
  <!--  <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>-->
  <!--  <link th:rel="stylesheet" th:href="@{webjars/font-awesome/5.11.2/css/all.css} "/>-->
  <!--  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">-->

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Study Buddies</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active" th:if="${userRole == 'ROLE_STUDENT'}">
        <a class="nav-link" th:href="@{/student-profile}">Profile<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active" th:if="${userRole == 'ROLE_TUTOR'}">
        <a class="nav-link" th:href="@{/tutor-profile}">Profile<span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" th:href = "@{/appointment_list}"> Appointment</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href = "@{/message_list}"> Message</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:if="${userRole == 'ROLE_STUDENT'}" th:href = "@{/student-findAtutor}">Find A Tutor</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href = "@{/userlogout}">Logout</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Signup
        </a>
      </li>

    </ul>
  </div>
  <!--
  <div class="" style='float: right'>
    <ul class="navbar-nav navbar-right">
      <li class="nav-item">
        <a class="nav-link" th:href = "@{/edit-student/{id}(id=${student.id})}" >Edit Profile</a>
      </li>
    </ul>
  </div>
  -->
</nav>
<div class="container my-2">
  <h1>Appointment List</h1>
  <table class = "table table-striped table-responsive-md">
    <thead>
    <tr>
      <th>Tutor Name</th>
      <th>Student Name</th>
      <th>Subject</th>
      <th>Date</th>
      <th>Time</th>
      <th>Duration</th>
      <th>link</th>
      <th hidden="true" >studentID</th>
      <th hidden="true" >tutorID</th>
      <th>Change</th>
      <th>Cancel</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="Appointment:${appointmentList}">
      <td th:text ="${Appointment.tutorName}"></td>
      <td th:text ="${Appointment.studentName}"></td>
      <td th:text="${Appointment.subject}"></td>
      <td th:text="${Appointment.apptDate}"></td>
      <td th:text="${Appointment.apptTime}"></td>
      <td th:text="${Appointment.duration}"></td>
      <td th:text="${Appointment.link}"></td>
      <td hidden="true" th:text="${Appointment.studentID}"></td>
      <td hidden="true" th:text="${Appointment.tutorID}"></td>
      <td><a th:href="@{/edit-appointment/{id}(id=${Appointment.id})}" class="btn btn-primary">Change</a></td>
      <td><a th:href="@{/delete-appointment/{id}(id=${Appointment.id})}" class="btn btn-danger">Cancel</a></td>
    </tr>
    </tbody>
  </table>
</div>
<script src="js/javascript.js.js"></script>

</body>
</html>