<!DOCTYPE html>
<html lang="en"


      xml:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="navBar"
>
<head>
  <meta charset="UTF-8" >
  <title>Study Buddies</title>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
          integrity="sha384- KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
          integrity="sha384- ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
          crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
          integrity="sha384- JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
          crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.css" crossorigin="anonymous">


  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
          integrity="sha384- JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
          crossorigin="anonymous"></script>


  <!--  <link th:rel="stylesheet" th:href="@{assets/bootstrap-datepicker/css/bootstrap-datepicker.css}"/>-->
  <!--  <link th:rel="stylesheet" th:href="@{assets/bootstrap-datepicker/css/bootstrap-datepicker.standalone.css}"/>-->
  <!--  <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>-->
  <!--  <link th:rel="stylesheet" th:href="@{webjars/font-awesome/5.11.2/css/all.css} "/>-->
  <!--  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">-->

</head>
<body>

<div layout:fragment="content">
  <div class="container">
    <div >
      <form action="#" th:action="@{/update-appointment}" th:object="${appointment}" method="POST">


        <div class="form-row justify-content-center">
          <h5 class="mb-2 text-muted"> Appointment </h5>
        </div>

        <div class="card-group">
          <label > TutorName </label>
          <input type="text" th:value="${appointment.tutorName}" class="form-control" name="tutorName" disabled>
          <span  th:errors="${appointment.tutorName}"></span>
        </div>


        <div class="card-group">
          <label > Date </label>
          <input type="date" th:value="${appointment.apptDate}" class="form-control" name="apptDate">
          <span  th:errors="${appointment.apptDate}"></span>
        </div>

        <div class="card-group">
          <label > Start Time </label>
          <input type="time" th:value="${appointment.apptTime}" class="form-control" name="apptTime" >
        </div>

        <div class="card-group">
          <label > Duration of appointment [hour(s)] </label>
          <input type="number" th:value="${appointment.duration}" class="form-control" name="duration">
          <span  th:errors="${appointment.duration}"></span>
        </div>

        <div class="card-group">
          <label > Subject </label>
          <input type="text" th:value="${appointment.subject}" class="form-control" name="subject">
          <span th:errors="${appointment.subject}"></span>
        </div>

        <div class="card-group">
          <label > link </label>
          <input type="text" th:value="${appointment.link}" class="form-control" name="link">
          <span th:errors="${appointment.link}"></span>
        </div>


        <div class="form-row justify-content-center">
          <button type="submit" class="btn btn-primary" th:href="@{/appointment_list.html}"> Book Appointment </button>
        </div>



      </form>

    </div>
  </div>

  <script src="js/javascript.js.js"></script>
</div>
</body>
</html>
