<!DOCTYPE html>

<html lang="en"


      xml:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="navBar"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--    <link th:rel="stylesheet" th:href="@{assets/bootstrap-datepicker/css/bootstrap-datepicker.css}"/>-->
<!--    <link th:rel="stylesheet" th:href="@{assets/bootstrap-datepicker/css/bootstrap-datepicker.standalone.css}"/>-->
<!--    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>-->
<!--    <link th:rel="stylesheet" th:href="@{webjars/font-awesome/5.11.2/css/all.css} "/>-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384- KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384- ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384- JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.css" crossorigin="anonymous">


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384- JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>




</head>
<body>
<div layout:fragment="content">
<!--
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Study Buddies</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href = "@{/registeration/student}">Register as a Student</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Register as a Tutor</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href = "@{/message}">send a message</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" th:href = "@{/appointment}">book appointment</a>
            </li>

        </ul>
    </div>
</nav>
-->
<!--<div class="container">-->
<!--    <div class="row justify-content-lg-center">-->
<!--        <form action="#" th:action="@{/createStudent}" th:object="${employee}" method="POST">-->
<!--            <div class="form-row justify-content-center">-->
<!--                <h5 class="mb-2 text-muted">Student Registration Form</h5>-->
<!--            </div>-->

<!--            <div class="form-row">-->
<!--                <div class="form-group col-md-6">-->
<!--                    <label for="firstName">First Name</label>-->
<!--                    <input type="text" class="form-control" id="firstName">-->
<!--                </div>-->
<!--                <div class="form-group col-md-6">-->
<!--                    <label for="lastName">Last Name</label>-->
<!--                    <input type="text" class="form-control" id="lastName">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="form-row">-->
<!--                <div class="form-group col-md-6">-->
<!--                    <label for="email">Email</label>-->
<!--                    <input type="email" class="form-control" id="email">-->
<!--                </div>-->
<!--                <div class="form-group col-md-6">-->
<!--                    <label for="phone">Phone</label>-->
<!--                    <input type="text" class="form-control" id="phone">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="form-row">-->
<!--                <div class="form-group col-md-6">-->
<!--                    <label for="password">Password</label>-->
<!--                    <input type="password" class="form-control" id="password">-->
<!--                </div>-->
<!--                <div class="form-group col-md-6">-->
<!--                    <label for="confirmpassword">Confirm Password</label>-->
<!--                    <input type="password" class="form-control" id="confirmpassword">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="form-row">-->
<!--                <div class="form-group col-md-6">-->
<!--                    <label for="school">School</label>-->
<!--                    <input type="text" class="form-control" id="school">-->
<!--                </div>-->
<!--                <div class="form-group col-md-6">-->
<!--                    <label for="birthdate">Date of birth</label>-->
<!--                    <div class="input-group date">-->
<!--                        <input type="text" class="form-control" id="birthdate" autocomplete="off"/>-->
<!--                        <div class="input-group-append">-->
<!--                            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="form-row">-->
<!--                <div class="form-group col-md-6">-->
<!--                    <label for="preferredLanguage">Preferred Language</label>-->
<!--                    <input type="text" class="form-control" placeholder="Last name" id="preferredLanguage">-->
<!--                </div>-->
<!--                <div class="form-group col-md-6">-->
<!--                    <label for="hobbies">Hobbies</label>-->
<!--                    <input type="text" class="form-control" id="hobbies">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--                <fieldset class="border p-2">-->
<!--                    <legend class="w-auto">Subjects of Interest</legend>-->

<!--                    <div class="form-row">-->
<!--                        <div class="form-group col-md-6">-->
<!--                            <label for="subject1">Subject 1</label>-->
<!--                            <input type="text" class="form-control" id="subject1">-->
<!--                        </div>-->
<!--                        <div class="form-group col-md-6">-->
<!--                            <label for="exp1">Years of Exp</label>-->
<!--                            <input type="text" class="form-control" id="exp1">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="form-row">-->
<!--                        <div class="form-group col-md-6">-->
<!--                            <label for="subject2">Subject 2</label>-->
<!--                            <input type="text" class="form-control" id="subject2">-->
<!--                        </div>-->
<!--                        <div class="form-group col-md-6">-->
<!--                            <label for="exp2">Years of Exp</label>-->
<!--                            <input type="text" class="form-control" id="exp2">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="form-row">-->
<!--                        <div class="form-group col-md-6">-->
<!--                            <label for="subject3">Subject 3</label>-->
<!--                            <input type="text" class="form-control" id="subject3">-->
<!--                        </div>-->
<!--                        <div class="form-group col-md-6">-->
<!--                            <label for="exp3">Years of Exp</label>-->
<!--                            <input type="text" class="form-control" id="exp3">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </fieldset>-->
<!--            </div>-->
<!--            <div class="form-row justify-content-center">-->
<!--                <button type="button" class="btn btn-primary">Register</button>-->
<!--            </div>-->
<!--        </form>-->
<!--    </div>-->
<!--</div>-->
<script src="js/javascript.js.js"></script>
</div>
</body>
</html>